{% extends "base.html" %}
{% block content %}
	<section class="page-blue" id="page-blue" style="padding-top: 0;">
		<div class="container" id="container">
			<div class="title" style="padding-top: 100px; padding-bottom: 20px;">
				<div style="display: flex;">
				<h4 style="font-size: 44px; color: #1b4d6d; text-transform: none; padding-bottom: 20px;">О компании – юриспруденция со вкусом</h4>
			</div>
				<p class="about-text article-description" style=" color: #1f1b1a; font-size: 15px;"><b>ЛигалМания</b> – команда адвокатов единомышленников из ведущих юридических компаний страны, крупных инхаус-департаментов, судебных и налоговых органов, уникальный опыт которых позволил сформировать индивидуальный подход в оказании квалифицированной юридической помощи организациям и частным клиентам. 
Основной принцип деятельности компании основан на образе жизни (мания правом), объединяющий не только профессиональные качества, но и элементы творчества и науки, что позволяет всегда найти нестандартные и креативные решения в самых сложных делах.
Команда ЛигалМания обладает внушительным успешным опытом работы с российскими и иностранными компаниями, как на территории России, так и за рубежом, а полученная экспертиза и стандарты работы, оставят приятное послевкусие и послужат залогом долгосрочного сотрудничества.
ЛигалМания - как самые совершенные рецептурные очки, с помощью которых клиенты могут взглянуть на свои проблемы под иным ракурсом, довериться искусству адвокатуры и вскоре почувствовать результаты на себе и бизнесе.
</p>
			</div>
			<style>
				#img-block
				{
					box-shadow: -10px 10px 60px rgba(0, 0, 0, .35);
					margin-right: 35px;
					margin-bottom: 25px;
				}
				.logo-block
				{
					max-width: 1500px;
				}
			</style>
			<div class="logo-block">
				<img src="{{url_for('static', filename='img/frame.png')}}" id="img-block" alt="">
				<img src="{{url_for('static', filename='img/frame.png')}}" id="img-block" alt="">
				<img src="{{url_for('static', filename='img/frame.png')}}" id="img-block" alt="">
				<img src="{{url_for('static', filename='img/frame.png')}}" id="img-block" alt="">
				<img src="{{url_for('static', filename='img/frame.png')}}" id="img-block" alt="">
				<img src="{{url_for('static', filename='img/frame.png')}}" id="img-block" alt="">
				

			</div>
		</div>
	</section>
{% endblock %}