{% extends "base.html" %}
{% block content %}
	<section class="page-blue" id="page-blue" style="padding: 0;">
		<div class="container" id="container">
			<div class="title" style="padding-top: 100px; padding-bottom: 20px;">
				<h4 style="font-size: 44px; color: #1b4d6d; text-transform: none; padding-bottom: 20px;">Услуги</h4>
			</div>
			<div class="nav" id="services-block">
				<ul style="display: flex; flex-wrap: wrap;" id="services-ul">
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Арбитражные и судебные разбирательства</h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Сопровождение банкротных процедур/реструктуризация долга</h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Защита собственности и активов</h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Транспорт и логистика</h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Строительные подряды</h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Налоговое право </h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Судебная поддержка банковских организаций</h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Корпоративное право и M&A (Due Diligence)</h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Санкции и международный экономический комплаенс </h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Медиация </h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Сопровождение частных клиентов </h3>
						</div>
						</div>
					</li>
					<li>
						<div class="service">
							<div class="icon-service">
							<img src="{{url_for('static', filename='img/icon-service.png')}}" width="60px" alt="">
						</div>
						<div class="title-service" id="title-service">
							<h3>Уголовно-правовая защита</h3>
						</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}